/*/////////////////////////// DEFAULT SETTINGS ///////////////////////////*/

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
}

body {
    background-color: white;
    overflow-x: hidden;
}

/*//////////// Fonts ////////////*/

@font-face {
    font-family: "Trajan-Pro-3";
    src: url(Fonts/Trajan-Pro-Regular.ttf);
}


/*/////////////////////////// STYLING THE WEBSITE ///////////////////////////*/


/*/////////////////////////// HOME PAGE ///////////////////////////*/


/*//////////// Home Header ////////////*/

header {
    color: white;
}

header#home-header {
    background-image: url(../Images/church-picture.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

div#background-header {
    position: relative;
    z-index: -1;
}

img#background-image {
    position: absolute;
    max-width: 100%;
    display: block;
    height: auto;
}

/*//////////// Information Header ////////////*/

div#info-header {
    display: grid;
    grid-template-areas: "logo-header text-header text-header";
    grid-column: 0.5fr 4fr;
    padding: 2vw;
}

div#logo-header {
    grid-area: logo-header;
}

img#logo {
    width: 8vw;
    margin-left: 4vw;
}

div#text-header {
    grid-area: text-header;
    font-family: 'Trajan-Pro-3', serif;
    font-weight: 200;
    font-style: normal;
    position: relative;
    margin-left: 4vw;
}

section#rimsko {
    font-size: 5vw;
    position: absolute;
    left: -25vw;
    top: 1vw;
}

section#farnost {
    font-size: 3.25vw;
    position: absolute;
    top: 2.75vw;
    left: 24vw;
}

section#pp-juh {
    font-size: 3.25vw;
    position: absolute;
    top: 7vw;
    left: 1vw;
}

/*//////////// Menu ////////////*/

div#menu-header {
    width: 100%;
    height: 12vh;
    background-color: hsla(0, 0%, 0%, 0.33);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

ul#nav-header {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12vh;
    align-content: center;
    align-items: center;
    text-align: center;
}

a#nav-link {
    color: white;
    font-family: 'Raleway', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5vw;
}

a#nav-link:active,
a#nav-link:hover,
.hovered {
    color: white;
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
}

a#active {
    color: white;
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
}

/*//////////// Dropdown Menu Items ////////////*/


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    width: 12vw;
    z-index: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    width: 12vw;
    z-index: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
}

a#nav-link2,
a#nav-link2:hover {
    color: black;
    font-family: 'Raleway', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.05vw;
    display: block;
    padding: 1vh;
    text-align: left;
}


/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
    background-color: #ddd;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content1 {
    display: block;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}


/*//////////// Home Main ////////////*/

main#home-main {
    margin: 3vw auto;
}

a#shortcut-link,
a#shortcut-link:hover,
a#shortcut-link:active {
    color: #F2921D;
    font-family: 'Trajan-Pro-3', serif;
    font-size: 2vw;
}

a#shortcut-link2,
a#shortcut-link2:hover,
a#shortcut-link2:active {
    color: white;
    font-family: 'Trajan-Pro-3', serif;
    font-size: 2vw;
}

div#shortcut-kancelaria {
    width: 25vw;
    border: solid 0.2vw #F2921D;
    text-align: center;
    padding: 2vh;
    margin-right: 2vw;
}

div#shortcut-birmovka {
    width: 25vw;
    border: solid 0.2vw #F2921D;
    text-align: center;
    padding: 2vh;
    background-color: #F2921D;
    margin-left: 2vw;
}

div#shortcuts-first-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#quotation {
    width: 54vw;
    border: solid 0.2vw #F2921D;
    text-align: center;
    padding: 2vh;
    background-color: #F2921D;
    color: white;
    display: block;
    margin: auto;
    margin-top: 3vw;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-size: 1.5vw;
}

section#quotation-text {
    font-weight: 400;
    text-align: center;
    padding: 2vw;
}

section#quotation-source {
    font-weight: 700;
}


/*//////////// Footer ////////////*/
footer {
    background-color: #707070;
    color: white;
    font-family: 'Raleway', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.225vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "footerRimsko footerLinks footerLinks2 footerContact";
    padding: 2vw;
}

a#footer-shortcut,
a#footer-shortcut:hover,
a#footer-shortcut:active {
    color: white;
    font-family: 'Raleway', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.05vw;
    white-space: nowrap;
}

div#footer-rimsko {
    grid-area: footerRimsko;
    display: flex;
    flex-direction: column;
}

div#footer-links {
    grid-area: footerLinks;
    display: flex;
    flex-direction: column;
}

div#footer-links2 {
    grid-area: footerLinks2;
    display: flex;
    flex-direction: column;
}

div#footer-contact {
    grid-area: footerContact;
}

div#footer-div-shortcuts {
    display: flex;
    flex-flow: row;
}

a#footer-shortcut-contact {
    padding-top: 1vw;
    padding-right: 1vw;
}

img#facebook-shortcut,
img#e-mail-shortcut {
    height: 2vw;
}

.footer-part{
    width: 60%;
    margin: 0 auto;
}
